* {
  margin: 0;
  padding: 0;
}

body {
  background: gray;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.gamebox {
  border: 2px solid black;
  border-radius: 40px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
}

h2 {
  padding: 20px;
}
